@font-face {
	font-family: 'Hind Madurai';
	src: url('../../assets/fonts/HindMadurai-Light.woff2') format('woff2');
	font-weight: 300;
}

@font-face {
	font-family: 'Hind Madurai';
	src: url('../../assets/fonts/HindMadurai-Regular.woff2') format('woff2');
	font-weight: 400;
}

@font-face {
	font-family: 'Lora';
	src: url('../../assets/fonts/Lora-Medium.woff2') format('woff2');
	font-weight: 500;
}

@font-face {
	font-family: 'Lora';
	src: url('../../assets/fonts/Lora-SemiBold.woff2') format('woff2');
	font-weight: 600;
}
