*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	--color-background: 172, 33%, 95%;
	--color-background-alt: 213, 56%, 93%;
	--color-text: 217, 96%, 11%;
	--color-text-light: 215, 18%, 42%;
	--color-primary: 234, 100%, 66%;
	--color-primary-light: 233, 97%, 72%;
	--color-primary-lighter: 232, 92%, 81%;

	scroll-behavior: smooth;
}

body {
	font-family: 'Hind Madurai';
	font-weight: 100;

	color: hsl(var(--color-text));
	background: hsl(var(--color-background));
}

button {
	background: transparent;
	border: none;
	border-radius: 2px;

	cursor: pointer;
}

a {
	text-decoration: none;

	color: inherit;
}

ul,
ol,
li {
	list-style-type: none;
}

h1 {
	font-family: 'Lora';
	font-size: 2.5rem;
	font-weight: 600;
}

h2 {
	font-family: 'Lora';
	font-size: 1.5rem;
	font-weight: 500;
}
