.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16rem;

	padding-top: 16rem;
	padding-bottom: 16rem;

	.section {
		display: flex;
		flex-direction: column;
		gap: 6rem;

		width: 100%;

		position: relative;

		.section-heading {
			position: relative;

			.section-heading-title {
				margin-bottom: 1rem;

				font-size: 2.5rem;
				font-weight: 400;
			}

			.section-heading-watermark {
				display: flex;
				gap: 1rem;

				height: 100%;

				position: absolute;
				top: 0;
				right: 100%;
				transform: translateX(-50%);

				.line-long,
				.line-short {
					width: 1px;
					height: 100%;

					background-color: hsla(var(--color-primary), 0.32);
					border-radius: 1rem;
				}

				.line-short {
					height: 50%;
				}
			}
		}

		.section-watermark {
			position: absolute;
			top: 0;
			right: 0;
			transform: translate(-1rem, -50%);

			font-size: 12rem;
			font-weight: 600;

			opacity: 0.04;
			user-select: none;
		}
	}

	.services .section-content {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1.5rem 4rem;

		.service-card {
			display: flex;
			flex-direction: column;
			gap: 1.5rem;

			position: relative;

			padding: 2rem;

			color: hsl(var(--color-background));
			background-color: hsl(var(--color-text));

			.service-card-title {
				font-size: 1.5rem;
				font-weight: 400;
			}

			.service-card-watermark {
				display: flex;
				gap: 2rem;

				height: 100%;

				position: absolute;
				top: 0;

				.line-long {
					width: 1px;
					height: 66%;

					background-color: hsla(var(--color-text), 0.32);
					border-radius: 1rem;
				}

				.line-short {
					width: 1px;
					height: 33%;

					background-color: hsla(var(--color-background), 0.32);
					border-radius: 1rem;
				}

				&:nth-of-type(1) {
					left: 0;
					transform: translateX(-50%);
				}

				&:nth-of-type(2) {
					right: 0;
					transform: translateX(50%) rotateZ(180deg);
				}
			}
		}

		@media screen and (min-width: 976px) {
			grid-template-columns: 1fr 1fr;
		}

		@media screen and (min-width: 1600px) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
	}

	.portfolio .section-content {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1.5rem 4rem;

		.thumbnail {
			width: 100%;
			aspect-ratio: 1 / 1;

			position: relative;

			background-color: hsla(var(--color-text), 0.04);
			border-radius: 2px;

			.thumbnail-img {
				width: 100%;
				height: 100%;

				object-fit: cover;
			}

			&::before {
				content: '';

				width: calc(100% + 1rem);
				height: calc(100% + 1rem);

				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				border: 1px solid hsla(var(--color-primary), 0.32);
				border-radius: 2px;

				z-index: -1;
			}
		}

		@media screen and (min-width: 976px) {
			grid-template-columns: 1fr 1fr;
		}

		@media screen and (min-width: 1600px) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
	}

	.contact .section-content .form {
		display: flex;
		flex-direction: column;
		gap: 2.5rem;

		.input-field {
			width: 100%;

			position: relative;

			.label {
				position: absolute;
				top: 0;
				left: 1rem;
				transform: translateY(-50%);

				padding: 0 1rem;

				background-color: hsl(var(--color-background));
			}

			.field {
				width: 100%;
				min-height: 3rem;

				padding: 0 1rem;

				color: hsl(var(--color-text));
				background-color: hsl(var(--color-background));
				border: 1px solid hsla(var(--color-text), 0.32);
				border-radius: 2px;

				&.message-field {
					padding: 1rem;
				}
			}
		}

		.submit {
			padding: 0.5rem;

			border: 1px solid hsla(var(--color-primary), 0.32);

			transition: border 0.32s;

			.submit-inner {
				display: block;

				padding: 0.75rem 1rem;

				font-weight: 500;

				color: hsl(var(--color-background));
				background-color: hsl(var(--color-primary));
			}

			&:hover {
				border: 1px solid hsla(var(--color-primary), 1);
			}
		}
	}
}
