@font-face {
  font-family: "Hind Madurai";
  src: url("../../assets/fonts/HindMadurai-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Hind Madurai";
  src: url("../../assets/fonts/HindMadurai-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Lora";
  src: url("../../assets/fonts/Lora-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Lora";
  src: url("../../assets/fonts/Lora-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  --color-background: 172, 33%, 95%;
  --color-background-alt: 213, 56%, 93%;
  --color-text: 217, 96%, 11%;
  --color-text-light: 215, 18%, 42%;
  --color-primary: 234, 100%, 66%;
  --color-primary-light: 233, 97%, 72%;
  --color-primary-lighter: 232, 92%, 81%;
  scroll-behavior: smooth;
}

body {
  font-family: "Hind Madurai";
  font-weight: 100;
  color: hsl(var(--color-text));
  background: hsl(var(--color-background));
}

button {
  background: transparent;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style-type: none;
}

h1 {
  font-family: "Lora";
  font-size: 2.5rem;
  font-weight: 600;
}

h2 {
  font-family: "Lora";
  font-size: 1.5rem;
  font-weight: 500;
}

.contact {
  width: 80%;
  max-width: 90rem;
  margin: 2rem auto;
}
.contact .contact-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.contact .contact-buttons .contact-button {
  width: 2rem;
  height: 2rem;
  background-color: hsl(var(--color-primary-light));
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
  border-radius: 0.25rem;
}
.contact .contact-buttons .contact-button .contact-button-label {
  display: none;
}
.contact .contact-buttons .contact-button.contact-email {
  background-image: url("../../assets/icons/icon-mail.svg");
}
.contact .contact-buttons .contact-button.contact-tel {
  background-image: url("../../assets/icons/icon-tel.svg");
}
.contact .contact-buttons .contact-button.contact-fb {
  background-image: url("../../assets/icons/icon-fb.svg");
}
.contact .contact-buttons .contact-button.contact-linkedin {
  background-image: url("../../assets/icons/icon-linkedin.svg");
}
.contact .contact-buttons .contact-button.contact-github {
  background-image: url("../../assets/icons/icon-github.svg");
}
@media screen and (min-width: 61rem) {
  .contact {
    width: 2rem;
    max-width: unset;
    height: 100%;
    position: absolute;
    top: 0;
    left: 5%;
    transform: translateX(-50%);
    margin: 0;
    z-index: 16;
  }
  .contact .contact-buttons {
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    height: auto;
    margin: 11rem auto 0;
    padding: 1rem 0;
    background-color: hsl(var(--color-background));
  }
}

.contact-line {
  display: none;
  width: 1px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 5%;
  transform: translateX(-50%);
  background-color: hsl(var(--color-primary-lighter));
}
@media screen and (min-width: 61rem) {
  .contact-line {
    display: block;
    z-index: -1;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 90rem;
  margin: 0 auto;
}
.header .brand {
  position: relative;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 100%;
  z-index: 16;
}
.header .hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  position: relative;
  z-index: 16;
  overflow: hidden;
}
.header .hamburger .hamburger-inner, .header .hamburger::before, .header .hamburger::after {
  width: 80%;
  height: 0.0625rem;
  background-color: hsl(var(--color-text));
  border-radius: 50%;
  transition: transform 0.32s, opacity 0.32s;
}
.header .hamburger::before, .header .hamburger::after {
  content: "";
  position: absolute;
}
.header .hamburger::before {
  transform: translate(0, -0.5rem);
}
.header .hamburger::after {
  transform: translate(0, 0.5rem);
}
@media screen and (min-width: 61rem) {
  .header .hamburger {
    display: none;
  }
}
.header .nav {
  padding: 3rem 3rem 3rem 10%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%);
  background-color: hsl(var(--color-primary-light));
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  transition: transform 0.32s ease-in-out;
  z-index: 16;
}
.header .nav .nav-items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.header .nav .nav-items .nav-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 100%;
  color: hsl(var(--color-background));
}
.header .nav .nav-items .nav-item::before {
  content: "";
  display: grid;
  place-items: center;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media screen and (min-width: 61rem) {
  .header .nav .nav-items .nav-item::before {
    display: none;
  }
}
.header .nav .nav-items .nav-item.nav-item-service::before {
  background-image: url("../../assets/icons/icon-services.svg");
}
.header .nav .nav-items .nav-item.nav-item-portfolio::before {
  background-image: url("../../assets/icons/icon-portfolio.svg");
}
.header .nav .nav-items .nav-item.nav-item-skills::before {
  background-image: url("../../assets/icons/icon-skills.svg");
}
.header .nav .nav-items .nav-item.nav-item-hireme::before {
  background-image: url("../../assets/icons/icon-mail.svg");
}
@media screen and (min-width: 61rem) {
  .header .nav {
    height: 6rem;
    padding: 0;
    position: static;
    transform: unset;
    background-color: unset;
    border-radius: 0;
  }
  .header .nav .nav-items {
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    width: 100%;
    height: 100%;
  }
  .header .nav .nav-items .nav-item {
    font-weight: 300;
    color: hsl(var(--color-text));
  }
  .header .nav .nav-items .nav-item.nav-item-hireme {
    padding: 0.75rem 1rem;
    color: hsl(var(--color-background));
    background-color: hsl(var(--color-primary-light));
    border-radius: 0.25rem;
  }
  .header .nav .nav-items .nav-item::before {
    display: none;
  }
}
.header.is-active .hamburger .hamburger-inner {
  transform: translate(-50%, 0);
  opacity: 0;
}
.header.is-active .hamburger::before {
  transform: translate(0, 0) rotateZ(45deg);
}
.header.is-active .hamburger::after {
  transform: translate(0, 0) rotateZ(-45deg);
}
.header.is-active .nav {
  transform: translate(0, -50%);
}

.main {
  width: 80%;
  max-width: 90rem;
  margin: 5rem auto 0;
}
.main .section {
  width: 100%;
  margin: 0 0 8rem;
}
.main .section .section-heading .section-heading-name {
  font-family: "Lora";
  font-weight: 500;
  color: hsl(var(--color-text-light));
}
.main .section .section-heading .section-heading-title {
  margin: 0.25rem 0 1rem;
}
.main .section .section-heading .cta {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  margin: 2rem 0 0;
}
.main .section .section-heading .cta .label {
  font-weight: 400;
  color: hsl(var(--color-primary));
}
.main .section .section-heading .cta .line {
  width: 2rem;
  height: 0.0625rem;
  background-color: hsl(var(--color-primary));
  border-radius: 50%;
}
.main .welcome {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.main .welcome .content {
  width: 100%;
}
@media screen and (min-width: 61rem) {
  .main .welcome .content .welcome-title {
    font-size: 3rem;
  }
}
@media screen and (min-width: 90rem) {
  .main .welcome .content .welcome-title {
    font-size: 4rem;
  }
}
.main .welcome .content .welcome-description {
  margin: 1rem 0 3rem;
}
.main .welcome .content .cta-wrapper {
  display: flex;
  gap: 6rem;
}
.main .welcome .content .cta-wrapper .cta-primary {
  display: flex;
  flex-direction: column;
}
.main .welcome .content .cta-wrapper .cta-primary .label {
  font-size: 1.5rem;
  font-weight: 400;
  color: hsl(var(--color-primary));
}
.main .welcome .content .cta-wrapper .cta-primary .line {
  width: 2rem;
  height: 0.125rem;
  background-color: hsl(var(--color-primary));
  border-radius: 50%;
}
.main .welcome .content .cta-wrapper .cta-secondary {
  display: none;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: hsl(var(--color-text-light));
}
.main .welcome .content .cta-wrapper .cta-secondary::before {
  content: "";
  width: 2rem;
  height: 2rem;
  background-image: url("../../assets/icons/icon-search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media screen and (min-width: 90rem) {
  .main .welcome .content .cta-wrapper .cta-secondary {
    display: flex;
  }
}
@media screen and (min-width: 61rem) {
  .main .welcome .content {
    width: 50%;
  }
}
.main .welcome .bg {
  width: 64%;
  height: 90vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: hsl(var(--color-background-alt));
  border-bottom-left-radius: 1rem;
  z-index: -1;
}
.main .welcome .welcome-img-wrapper {
  align-self: flex-end;
  width: 100%;
  max-width: 32rem;
}
.main .welcome .welcome-img-wrapper .welcome-img {
  width: 100%;
}
@media screen and (min-width: 61rem) {
  .main .welcome {
    flex-direction: row;
    justify-content: space-between;
  }
  .main .welcome .welcome-img-wrapper {
    align-self: flex-start;
    width: 50%;
  }
}
.main .services {
  display: grid;
  grid-template-columns: 1fr;
  gap: 6rem;
}
.main .services .content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}
.main .services .content .service-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}
.main .services .content .service-card .service-name {
  font-family: "Lora";
  font-size: 1.25rem;
  font-weight: 500;
}
.main .services .content .service-card::before {
  content: "";
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
}
.main .services .content .service-card.serivce-card-websites::before {
  background-image: url("../../assets/icons/icon-website.svg");
}
.main .services .content .service-card.serivce-card-webapps::before {
  background-image: url("../../assets/icons/icon-app.svg");
}
.main .services .content .service-card.serivce-card-uidesigns::before {
  background-image: url("../../assets/icons/icon-design.svg");
}
.main .services .content .service-card.serivce-card-optimizations::before {
  background-image: url("../../assets/icons/icon-optimization.svg");
}
@media screen and (min-width: 61rem) {
  .main .services {
    grid-template-columns: 1fr;
  }
  .main .services .content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: -webkit-max-content -webkit-max-content;
    grid-template-rows: max-content max-content;
  }
  .main .services .content .service-card::before {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    translate: -1rem -1rem;
    opacity: 0.64;
  }
}
@media screen and (min-width: 90rem) {
  .main .services {
    grid-template-columns: 1fr 1fr;
  }
}
.main .portfolio {
  display: grid;
  grid-template-columns: 100%;
  gap: 4rem;
}
.main .portfolio .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
  width: 100%;
  position: relative;
}
.main .portfolio .content .slider {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
}
.main .portfolio .content .slider .slider-inner {
  display: flex;
  gap: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  transition: translate 0.32s ease;
}
.main .portfolio .content .slider .slider-inner .slide {
  width: 80vw;
  aspect-ratio: 4/3;
  background-color: hsla(var(--color-primary), 0.32);
  border-radius: 0.25rem;
  overflow: hidden;
}
.main .portfolio .content .slider .slider-inner .slide .slide-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 61rem) {
  .main .portfolio .content .slider .slider-inner .slide {
    width: calc(40vw - 0.5rem);
  }
}
@media screen and (min-width: 90rem) {
  .main .portfolio .content .slider .slider-inner .slide {
    width: calc(20vw - 1.5rem);
  }
}
@media screen and (min-width: 112.5rem) {
  .main .portfolio .content .slider .slider-inner .slide {
    width: 21rem;
  }
}
.main .portfolio .content .slider-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.main .portfolio .content .slider-controls .dot {
  width: 0.75rem;
  height: 0.75rem;
  border: 0.0625rem solid hsl(var(--color-primary));
  border-radius: 50%;
  transition: background-color 0.24s, border 0.24s;
}
.main .portfolio .content .slider-controls .dot.is-active {
  width: 1rem;
  height: 1rem;
  background-color: hsl(var(--color-primary));
  border: none;
}
.main .portfolio .content::before {
  content: "";
  width: 125%;
  height: 100%;
  position: absolute;
  top: 4rem;
  left: -12.5%;
  background-color: hsl(var(--color-background-alt));
  border-radius: 0.25rem;
  z-index: -2;
}
@media screen and (min-width: 90rem) {
  .main .portfolio .content::before {
    width: 50vw;
    left: unset;
    right: -3rem;
  }
}
@media screen and (min-width: 90rem) {
  .main .portfolio .content {
    order: -1;
  }
}
@media screen and (min-width: 90rem) {
  .main .portfolio {
    grid-template-columns: repeat(2, calc(50% - 3rem));
    align-items: flex-end;
    gap: 6rem;
  }
}/*# sourceMappingURL=index.css.map */